In [10]:
import pandas as pd


df = pd.read_json('./archive/slurp/train.jsonl', lines=True)
df = df[['sentence', 'intent', 'entities']]
df = df.drop(index=0)
df.reset_index(drop=True)
df.to_json('./archive/slurp/train.json', orient='records')

In [8]:
import pandas as pd

df = pd.read_json('./archive/slurp/train.json')
df

           span    type
0  [4, 5, 6, 7]    date
1          [10]  person

In [21]:
import pandas as pd
import json
df = None
with open('./archive/slurp/train.json') as file:
    data = json.load(file)
    df = pd.json_normalize(data, meta=['sentence', 'intent'], record_path='entities')
df['type'] = df['type'].str.replace('_', ' ')

,span,type,sentence,intent
0,"[4, 5, 6, 7]",date,i need an event three days from now scheduled ...,calendar_set
1,[10],person,i need an event three days from now scheduled ...,calendar_set
2,"[5, 6, 7]",time,silent mode on for the next three hours,audio_volume_mute
3,"[5, 6]",list name,remove dog food from my grocery list,lists_remove
4,"[8, 9]",time,check my email for new emails during the last ...,email_query
...,...,...,...,...
11362,"[6, 7]",date,what day does easter fall on this year,datetime_query
11363,[0],player setting,resuming playing my current audio book,play_audiobook
11364,"[4, 5]",media type,resuming playing my current audio book,play_audiobook
11365,[2],event name,olly set meeting at seven pm,calendar_set
11366,"[4, 5]",time,olly set meeting at seven pm,calendar_set

In [22]:
#_, uniques = df.loc[df['intent']=='calendar_set']['type'].factorize()
_, uniques = df['type'].factorize()

uniques

Index(['date', 'person', 'time', 'list name', 'business name', 'event name',
       'relation', 'playlist name', 'definition word', 'email address',
       'timeofday', 'place name', 'weather descriptor', 'news topic',
       'media type', 'food type', 'device type', 'transport type', 'joke type',
       'podcast name', 'player setting', 'artist name', 'house place',
       'audiobook name', 'radio name', 'music genre', 'app name',
       'transport name', 'color type', 'music descriptor', 'transport agency',
       'order type', 'business type', 'change amount', 'email folder',
       'podcast descriptor', 'coffee type', 'personal info', 'currency name',
       'game name', 'time zone', 'general frequency', 'song name',
       'ingredient', 'transport descriptor', 'movie type', 'sport type',
       'drink type', 'movie name', 'cooking type', 'alarm type', 'meal type',
       'music album', 'game type', 'audiobook author'],
      dtype='object')